
$left-quick-menu-border-color: #c9cacc;
$item-menu-background-position-step: 25px;
$left-quick-menu-outer-shadow: -2px -1px 3px rgba(0, 0, 0, 0.2);

$quick-menu-list-classes: /*news*/ friend photo video blog music;
$i:0;

.left-quick-menu {
  position: absolute;
  background: $global-page-bg-color;
  left: 50px;
  top: 50px;
  width: 45px;
  border: 1px solid $left-quick-menu-border-color;
  @include box-shadow($left-quick-menu-outer-shadow);
  @include border-radius(5px);
  overflow: hidden;

/*------background-position-for-each-li.$classname-block------ */
  @each $class-name in $quick-menu-list-classes {
    $i: $i + 1;
      li.#{$class-name} {
        a {
          background-position: 0 ($i * (-$item-menu-background-position-step));
        }
      }
    }
/*------background-position-for-each-li.$classname-block------ */

  li {
    position: relative;
    padding: 10px 0;
    border-bottom:1px solid #e6e7e8;

    &:last-child {
      border: 0;
      padding-bottom: 9px;
    }

    &:first-child {
      background: #f1f2f2;
      padding-bottom: 5px;
      @include border-radius(5px 5px 0 0);


      a {
        width: 30px;
        height: 30px;
      }
    }
  }

  a {
    margin: 0 auto;
    color: #4c4c4c;
    width: 25px;
    display: block;
    text-align: center;

    &.first {
      background: url(../image/left-quick-menu/left-menu-icons-sprite.jpg) no-repeat 0 0;
      line-height: 22px;
      font-size: 11px;
      color: #4c4c4c;
      height: 22px;
      width: 25px;
    }
  }
}

.user-menu-link-wrapper {
  display: none;
  position: absolute;
  background: #fff;
  top: -2px;
  left: 26px;
  border-radius: 0 3px 3px 0;
  box-shadow: 4px 0 12px rgba(0,0,0,0.3);
}
