/* line 9, ../sass/_base.scss */
body {
  background: url("../image/base-design/mainpage-background.png") repeat;
  color: #5b5b5b;
  position: relative;
}

/*Links colors*/
/* line 16, ../sass/_base.scss */
a {
  color: #4a86a6;
}
/* line 18, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #cccccc;
}
/* line 21, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #00cccc;
}
/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #00cccc;
}
/* line 27, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #cc00cc;
}
