/*
* mixin
*/
@mixin radius($n...){
  border-radius: $n;
  -moz-border-radius: $n;
}
@mixin border($color,$px:1px,$sol:solid){
  border:$color $px $sol;
}
@mixin gradient($direction,$color-one,$pc-one,$color-two, $pc-two){
  background-image: linear-gradient($direction, $color-one $pc-one, $color-two $pc-two);
  background-image: -o-linear-gradient($direction, $color-one $pc-one, $color-two $pc-two);
  background-image: -moz-linear-gradient($direction, $color-one $pc-one, $color-two $pc-two);
  background-image: -webkit-linear-gradient($direction, $color-one $pc-one, $color-two $pc-two);
  background-image: -ms-linear-gradient($direction, $color-one $pc-one, $color-two $pc-two);
}

@mixin bg-color($var){
  background: $var;
}
