/* ---------------------------Image Box-----------------------*/
#imagebox-block {
    position: relative;
}

#imagebox-detail {
    position: absolute;
    width: 560px;
    right: 0;
    top: 0;
    z-index: 2;
    background: #fff;
}

/*----------------------header-------------------------*/

#header_menu_page_holder {
    display: block;
}

#header {
    background: none repeat scroll 0 0 #424242;
    height: 40px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header_logo #logo, .header_logo #logo:hover {
    height: 40px;
    line-height: 40px;
}

#header_menu_login .header_menu_login_button, #header_menu_login .header_menu_login_left, #header_menu_login .header_menu_login_right {
    top: 0;
}

#main_core_body_holder, #main_core_body_holder_guest {
    margin-top: 70px;
}

#header_menu_login .header_menu_login_input {
    float: left;
    margin-right: 20px;
    width: 100px;
}

#header_menu_login .header_menu_login_left, #header_menu_login .header_menu_login_right {
    width: 270px;
}

#header_menu_login .header_menu_login_left {
    right: 350px;
}

#header_right {
    left: 430px;
    position: absolute;
    top: 0;
    width: 550px;
}

#holder_notify {
    left: 190px;
    top: 0;
}

.holder_notify_count {
    margin: 3px 0 0;
    font-size: 8px;
    background: none repeat scroll 0 0 #F82B2B;
    color: #FFFFFF;
    padding: 2px 4px;
    border: 1px solid #ffe222;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#header_menu_holder {
    top: 0;
}

#header_menu {
    background: #ababab;
}

#header_menu ul li a, #header_menu ul li a:hover {
    border-right: 1px solid #BFBFBF;
    color: #333333;
    display: block;
}

#header_menu ul li a:hover {
    background: none repeat scroll 0 0 #8E8E8E;
}


#holder_notify ul li a.message {
    background: url("../image/layout/holder_notify_message.png") no-repeat scroll 50% 5px transparent;
    margin-left: 10px;
}

#holder_notify ul li a.notification {
    background: url("../image/layout/holder_notify_notification.png") no-repeat scroll 50% 0 transparent;
}

#holder_notify ul li a.friend_notification {
    background: url("../image/layout/holder_notify_friend_request.png") no-repeat scroll 50% 3px transparent;
}

#holder_notify ul li a.notification.active {
    background-position: 8px -41px;
}

#holder_notify ul li a.message.active {
    background-position: -7px -45px;
}

#holder_notify ul li a.friend_notification.active {
    background-position: 0 -145px;
}

#holder_notify ul li a.notification.active span.notify_image {
    background-position: 8px -41px;
}

.holder_notify_count {
    right: -5px;
}

#header_menu_holder ul li a.has_drop_down {
    background: none;
    padding: 0;
}

#header_menu_holder ul li a, #header_menu_holder ul li a:hover {
    padding: 0;
}

.center-menu-profile-bg, .exit-menu-profile-bg {
    background: url("../image/pautina/menu-settings.png") no-repeat scroll 1px 2px transparent;
    display: block;
    height: 40px;
    width: 40px;
}

.exit-menu-profile-bg {
    background: url("../image/pautina/menu-exit.png") no-repeat scroll 3px top transparent;

}

#header_menu_holder ul li a.has_drop_down:hover {
    background: #4f4f4f;
}

.right-menu-profile img {
    padding: 5px 5px 0 ;
}

#header_menu_holder ul li a, #header_menu_holder ul li a:hover {
    line-height: 19px;
}

#header_menu_holder ul li {
    margin: 0 6px;
}

.profile_image_holder {
    width: 180px;
    height: 180px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 4px solid #fff;
    box-sizing: border-box;
}

.header-wrapper {
    height: 90px;
}

#imagebox-block li, #videobox-block li{
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px 15px;
}

#imagebox-block li a, #videobox-block li a{
    width: 100px;
}

#imagebox-block li a:hover, #videobox-block li a:hover {text-decoration: none;}

.profile_info span{
    display: block;
}

#menu_box {
    clear: both;
}

#menu_box .profilebox-title{
    padding: 6px 0  6px 25px;
    background: #4c4c4c;
    font-size: 18px;
    font-weight: bold;
    color: #3FB6E2;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#menu_box .all-items {
    padding: 15px 25px;
    color: #3FB6E2;
    font-size: 12px;
    display: block;
    font-weight: bold;
}

#menu_box .all-items span{
    float: right;
    color: #999;
    font-size: 10px;
}

.profile_header_inner h1 a {
    font-size: 36px;
    color: #28a6ff;
    font-weight: bold;
}
.profile_info span {
    color: #999;
    font-size: 12px;
}

#imagebox span {
    display: block;

}

#section_menu ul li.profile-section-menu a {
    display: block;
    margin: 0 20px;
    padding: 0;
    border: none;
    font-weight: normal;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    height: 32px;
    text-align: center;
}

#section_menu ul li.profile-section-menu a span {
    background: none;
    display: block;
    text-align: center;
    position: relative;
    top: 32px;
    padding: 0;
    margin: 0;
    width: 32px;
    height: auto;
    color: #7F7F7F;
    font-weight: normal;
    font-size: 10px;
}

#section_menu ul li#liMail a {
    background: url(../image/pautina/profile-page/mail.png) no-repeat top center;
}

#section_menu ul li#liPoke a {
    background: url(../image/pautina/profile-page/poke.png) no-repeat top center;
}

#section_menu ul li#js_add_friend_on_profile a {
    background: url(../image/pautina/profile-page/add-to-friend.png) no-repeat top center;
}

#sms-success-result, #email-success-result {
    display: none;
}
