#pautina_image_page {
    width: 900px;
}

#imagebox-detail {
    position: relative;
    width: 400px;
    float: right;
}

#pautina_image {
    float: left;
    width: 400px;
}

#imagebox-detail .photo_view_box_image {
    overflow: inherit;
}

#imagebox-detail .photo_view_box_comment {
    float: inherit;
}

#imagebox-detail #photo_view_tag_photo {
    position: inherit;
}

#imagebox-detail #photo_view_theater_mode .photo_next_previous {
    position: relative;
}

#imagebox-detail.feed {
    position: absolute;
    right: -551px;
    background: #F8F8F8;
    padding: 20px;
    border: 1px solid #D7D7D7;
    z-index: 2;
    width: 510px;
    display: none;
}

.preloader, .preloader_block {
    width: 100%;
    position: absolute;
    z-index: 2;
    display: none;
    background: rgba(255, 255, 255, 0.8);
}

.preloader_block {
    z-index: 101;
}

.preloader_icon {
    background: url(../image/pautina/preloader.gif) center center no-repeat;
    width: 100%;
}

.closePautina {
    margin: 10px 0;
    text-align: center;
    display: block;
}

.detail_image_link {
    display: block;
    position: relative;
    z-index: 1;
}

#imagebox-detail #photo_view_theater_mode .photo_next_previous ul li,
#imagebox-detail #photo_view_theater_mode .photo_next_previous ul li a,
#imagebox-detail #photo_view_theater_mode .photo_next_previous ul li a:hover
{
    bottom: inherit;
}

#imagebox-detail #photo_view_theater_mode .photo_next_previous ul li.next,
#imagebox-detail #photo_view_theater_mode .photo_next_previous ul li.next a,
#imagebox-detail #photo_view_theater_mode .photo_next_previous ul li.next a:hover {
    right: 2px;
}

#imagebox-detail #photo_view_theater_mode .photo_next_previous ul li.previous,
#imagebox-detail #photo_view_theater_mode .photo_next_previous ul li.previous a,
#imagebox-detail #photo_view_theater_mode .photo_next_previous ul li.previous a:hover {
    left: 2px;
    display: block;
}

#ajax_wrapper #imagebox-detail {
    position: relative;
    float: none;
    left: 0;
}

#scrollbar_wrapper {
    display: none;
    width: 567px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 333px;
    margin-top: -11px;
    border: 1px solid #d7d7d7;
    border-right: none;
    padding: 0 !important;
}

#scrollbar_wrapper #imagebox-detail {
    border: none;
}

#scrollbar_wrapper.fixed_position {
    position: fixed;
    left: inherit;
    margin-left: 333px;
    top: 100px;
}

#scrollbar_wrapper .closePautina {
    display: none;
}

#scrollbar_wrapper .viewport { width: 552px; height: 600px; overflow: hidden; position: relative; }
#scrollbar_wrapper .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar_wrapper .thumb .end,
#scrollbar_wrapper .thumb {
    background-color: #626262;
}
#scrollbar_wrapper .scrollbar {
    position: relative;
    float: right;
    width: 15px;
}
#scrollbar_wrapper .track {
    height: 100%;
    width:8px;
    position: relative;
    padding: 0 1px;
    margin-left: 2px;
}
#scrollbar_wrapper .thumb {
    height: 20px;
    width: 8px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    border-radius: 5px;
}
#scrollbar_wrapper .thumb .end {
    overflow: hidden;
    height: 10px;
    width: 8px;
    border-radius: 5px;
}
#scrollbar_wrapper .disable{ display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

#js_is_user_profile {
    background: #f4f4f4;
}

#js_is_user_profile > .holder {
    background: #fff;
}