/*
author Andrew Sirik

*/
@import "base.scss";

BODY{
  -webkit-transition: -webkit-transform .2s linear;
  -moz-transition: -moz-transform .2s linear;
  -ms-transition: -ms-transform .2s linear;
  -o-transition: -o-transform .2s linear;
  transition: transform .2s linear;
  z-index: 1;
}
.user_register_holder {
  .user_register_form {
    margin-left: 560px;
    width:340px;
    #js_signup_block{
      display: none;
    }
  }
  .register_bottom_message{
    background: url('../image/welcome_page/strip.jpg') repeat-x;
    display: inline-block;
    width:100%;
    height: 187px;
    margin-top:60px;
    .message_wrapper{
      margin: 0 auto;
      width: 864px;
      margin-top:-22px;
    }
    .message_container{
      width:220px;
      float:left;
      margin-right:65px;
      &:first-child{
        margin-left:66px;
      }
      &:last-child{
        margin-right:0;
      }
    }
    .message_content{
      background-color: #e9e9e9;
      @include radius(0 0 6px 6px);
      padding:14px 22px 80px 10px;
      p{
        font: italic 12px Arial,'arial',verdana, 'sans serif';
        color:#525252;
        text-align: left;
        line-height: 20px;
      }
    }
    .people{
      background: #e9e9e9 url(../image/welcome_page/people.png) no-repeat 50% 95%;
    }
    .info-block{
      background: #e9e9e9 url(../image/welcome_page/photo.png) no-repeat 50% 95%;
    }
    .talk{
      background: #e9e9e9 url(../image/welcome_page/tablet.png) no-repeat 50% 95%;
    }
    .message_header{
      background: #3c4757;
      color:#FFFFFF;
      font:13px arial, verdana, sans-serif;
      text-align: center;
      @include radius(3px);
      padding: 10px 0 10px 0;
      position: relative;
      top: 7px;
      -webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.78);
      -moz-box-shadow:    0px 1px 5px rgba(50, 50, 50, 0.78);
      box-shadow:         0px 1px 5px rgba(50, 50, 50, 0.78);
      @include border(#242424);
      @include gradient(bottom,rgb(68,78,94), 17% , rgb(53,63,80), 72%);
    }
  }
}


.user_register_form{
  @include border(#d6d6d6);
  @include radius(3px);
  @include bg-color(#fdfdfd);
}

.user_register_holder .user_register_form .table_right input{
  width:263px;
}

.user_register_form{
  #header_menu_login_form{
    .login_form_wrapper{
      width: 262px;
      margin: auto;
      input[type="submit"]{
        @include bg-color(#4f9cc4);
        color:#FFF;
        margin: auto;
        display: block;
        padding: 8px 40px 8px 40px;
        cursor: pointer;
      }
      div{
        margin-bottom:13px !important;
      }
      .login_or_separator{
        margin:25px 0 !important;
        height:10px;
        background: url("../image/welcome_page/welcome_login_separator.png") no-repeat;
      }
    }
    input.header_menu_login_input{
      width: 263px;
      font-size: 16px;
      padding: 8px 0px 8px 4px;
    }
  }
  .table_right {
    width: 262px;
    margin: auto;
  }
  .table_left{
    display: none;
  }
  #js_registration_submit{
    &:after{
      border:inset 1px black;
      width:171px;
      height:25px;
      left: 1px;
      top: 1px;
      position: absolute;
      content:'';
    }
    &:before{
      border:inset 1px rgba(0, 0, 0, 0.65);
      width:173px;
      height:27px;
      position: absolute;
      content:'';
    }
    position: relative;
    @include gradient(bottom, rgb(105,175,51), 17%, rgb(128,199,61), 40%);
    @include border(#efefef);
    padding: 8px 40px 8px 40px;

  }
}



/* Большой дисплей */
@media (min-width: 1200px) {

}

/* От портретного планшета до ландшафтного экрана и настольных дисплеев */
@media (min-width: 768px) and (max-width: 979px) {

}


/* Landscape - телефоны */
@media (max-width: 480px) {

}

/* От ландшафтного экрана телефона до потретного планшета */
@media (max-width: 767px) {

}


